<% binding.pry %>
<% if tasks.any? %>
  <ul>
    <% tasks.each do |task| %>
      <li>
        <div>
          <div>
            <%= link_to task.user.name, root_url %> <span>posted at <%= task.created_at %></span>
          </div>
          <div>
            <%= link_to task.id,  task %>
            <p><%= task.status %></p>
            <p><%= task.content %></p>
          </div>

        </div>
      </li>
    <% end %>
  </ul>
<% end %>
